body {
    height: 97vh;
    background: black url("imagens/wallpaper002.jpg") center center no-repeat fixed;
    background-size: cover;
    
}
main {
    background-color: white;
    max-width: 450px;
    padding: 10px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}